/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

@font-face {
    font-family: avenir_next;
    src: url(/assets/avenir_next_regular.woff);
}

html, body {
    font-family: avenir_next;
    margin: 0;
    padding: 0;
    height: 100%;
}

.content {
    margin: 2vh 15vw;
    max-width: 100%;
    animation: easein 1s;
}

.home {
    animation: easein 1s;
}

@keyframes easein {
    from { opacity:0; transform: translateY(-2%); }
    to   { opacity:1; transform: translateY(0%); }
}

a {
    color: #000;
}

a:hover {
    color: rgb(68, 156, 150);
}

a:active {
    color: rgba(68, 156, 149, 0.5);
}

h1 {
    display: inline-block;
    margin-right: 5px;
}

table {
    min-width: 100%;
}

td {
    padding: 6px;
    border-radius:3px;
}

td.link {
    text-align: center;
    width:25px;
}

th {
    background-color: rgba(68, 156, 149, 0.4);
    padding: 6px;
    border-radius:3px;
}

td:nth-child(1) {
    width:15px;
    text-align: center;
    font-weight: bold;
}

tr {
    background-color: rgba(68, 156, 149, 0.1);
}

.field_with_errors {
    color: rgb(224, 2, 2);
}

.field_with_errors label:after{
    font-family: FontAwesome;
    content:' \f06a';
}

.field_with_errors select, .field_with_errors input {
    border: 1px solid rgb(224, 2, 2);
    background-color: rgb(243, 230, 230);
}

div.msg {
    width:100%;
    display:none;
    text-align: center;
    position: absolute;
    top: 42px;
}


div.flash{
    display:inline-block;
    padding:0 15px;
    margin: 4px 0;
    border-radius:4px;
    height: 1.8rem;
    line-height:1.8rem;
    font-size:14px;
    color: #fff;
    z-index: 2;
}

div.notice {
    background-color: #5cb85c;
}

div.alert{
    background-color: #cd5c5c;
}

div.notice:before{
    font-family: FontAwesome;
    content:'\f058';
    margin-right:6px;
}

div.alert:before{
    font-family: FontAwesome;
    content:'\f06a';
    margin-right:6px;
}